# requirements.txt (نسخه جدید)

# کتابخانه‌ی اصلی تلگرام بات (نسخه 20 به بالا)
python-telegram-bot>=20.0

# برای اتصال به PostgreSQL را بدون نیاز به تنظیمات اضافی استفاده می‌کنیم
psycopg2-binary

# زمانی که از فایل Excel استفاده می‌کنیم (برای گزارشات و بکاپ)
openpyxl

# تبدیل تاریخ‌های شمسی (جِ دِیتتایم)
jdatetime
